---
import BaseLayout from '../layouts/BaseLayout.astro';
import ForumWrapper from '../components/ForumWrapper';
---

<BaseLayout title="Your Local Forum">
  <main class="min-h-[calc(100vh-60px)] py-8">
    <div class="max-w-7xl mx-auto px-16">
      <div class="p-4 bg-[#4b9aaa] rounded-full w-fit mx-auto">
        <a href="/">
          <img
            class="max-w-[min(15vw,150px)] min-w-[100px] w-full rounded-[50px] shadow-lg"
            src="https://res.cloudinary.com/djgxiadrc/image/upload/v1677334203/communityWebApp/Beige_und_Grau_Minimalistisch_Zitat_Instagram-Beitrag_Kopyas%C4%B1_6_g2r1na.png"
            alt="logo"
          />
        </a>
      </div>
      <h1 class="text-center text-4xl font-bold mb-3 pb-1 text-[#814256]">Your Local Forum</h1>
      <div class="bg-[#4b9aaa] flex justify-center px-12 py-8 rounded-lg mt-8 min-h-[400px]">
        <ForumWrapper client:load />
      </div>
    </div>
  </main>
  <footer class="bg-gray-800 text-white text-center py-6 mt-auto">
    <p>&copy; 2023 Mahalle Community App. All rights reserved.</p>
  </footer>
</BaseLayout>