.landing-page-main {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  align-content: stretch;
}

.landing-page-section {
  width: 33%;
}

.vertical-text {
  writing-mode: vertical-rl;
}

.features-section {
  display: flex;
  justify-content: flex-end;
  width: 33%;
  flex-direction: column;
  position: relative;
  bottom: 0;
}

.features-content {
  display: flex;
  align-items: center;
}

.signup-button {
  color: #eccc6e;
  background-color: #4b9aaa;
  border: none;
}

.signup-button a {
  text-decoration: none;
  color: #eccc6e;
}