.user-profile-form-group {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-evenly;
  align-items: center;
}

.user-profile-picture {
  width: 150px;
  height: 200px;
  object-fit: cover;
}

.username-input {
  margin-bottom: 0px;
}

.username-readonly-note {
  margin-top: 0px;
  padding-top: 0px;
  font-size: 0.8rem;
}

.hobbies-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5%;
  margin: 5%;
  border: 1px dashed gray;
  min-width: 400px;
  background-color: black;
}