.card-container {
  background-color: #c9c4b9;
}

.card-header-info {
  padding: 2%;
  border-radius: 5px;
  margin: 0 0 5% 0;
  background-color: #4b9aaa;
  text-decoration: underline;
  color: gray;
  font-size: 0.8em;
}

.card-header-info-span {
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1%;
}

.like-button {
  border: none;
  background: none;
}

.author-image {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  object-fit: cover;
  z-index: 1;
  background: none;
}

.tags-list {
  display: inline-block;
  margin: 1%;
  list-style: none;
  background-color: #4b9aaa;
  color: white;
  border-radius: 5px;
  text-decoration: underline;
  font-size: 0.8em;
}

.tag-span {
  display: inline-block;
  background-color: #4b9aaa;
  color: white;
  border-radius: 5px;
  padding: 0.2em 0.5em;
  margin: 0.2em;
  font-size: 0.8em;
  text-decoration: underline;
}

.new-comment-body {
  display: inline-flex;
  gap: 10vw;
  height: 100%;
}